[submodule "security_auditing/3-passwordstore-audit/lib/openzeppelin-contracts"]
	path = security_auditing/3-passwordstore-audit/lib/openzeppelin-contracts
	url = https://github.com/openZeppelin/openzeppelin-contracts
[submodule "security_auditing/3-passwordstore-audit/lib/forge-std"]
	path = security_auditing/3-passwordstore-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security_auditing/4-puppy-raffle-audit/lib/openzeppelin-contracts"]
	path = security_auditing/4-puppy-raffle-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "security_auditing/4-puppy-raffle-audit/lib/forge-std"]
	path = security_auditing/4-puppy-raffle-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security_auditing/4-puppy-raffle-audit/lib/base64"]
	path = security_auditing/4-puppy-raffle-audit/lib/base64
	url = https://github.com/Brechtpd/base64
[submodule "security_auditing/sc-exploits-minimized/lib/forge-std"]
	path = security_auditing/sc-exploits-minimized/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security_auditing/sc-exploits-minimized/lib/openzeppelin-contracts"]
	path = security_auditing/sc-exploits-minimized/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "security_auditing/sc-exploits-minimized/lib/kontrol-cheatcodes"]
	path = security_auditing/sc-exploits-minimized/lib/kontrol-cheatcodes
	url = https://github.com/runtimeverification/kontrol-cheatcodes
[submodule "security_auditing/5-t-swap-audit/lib/forge-std"]
	path = security_auditing/5-t-swap-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security_auditing/5-t-swap-audit/lib/openzeppelin-contracts"]
	path = security_auditing/5-t-swap-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "security_auditing/shortFuzzingExercise/lib/forge-std"]
	path = security_auditing/shortFuzzingExercise/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security_auditing/6-thunder-loan-audit/lib/forge-std"]
	path = security_auditing/6-thunder-loan-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security_auditing/6-thunder-loan-audit/lib/openzeppelin-contracts"]
	path = security_auditing/6-thunder-loan-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "security_auditing/6-thunder-loan-audit/lib/openzeppelin-contracts-upgradeable"]
	path = security_auditing/6-thunder-loan-audit/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
[submodule "security_auditing/7-boss-bridge-audit/lib/forge-std"]
	path = security_auditing/7-boss-bridge-audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security_auditing/7-boss-bridge-audit/lib/openzeppelin-contracts"]
	path = security_auditing/7-boss-bridge-audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "code-hawks-first-flights/2024-06-Dussehra/lib/forge-std"]
	path = code-hawks-first-flights/2024-06-Dussehra/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "code-hawks-first-flights/2024-06-Dussehra/lib/openzeppelin-contracts"]
	path = code-hawks-first-flights/2024-06-Dussehra/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "foundry_full_course_cu/minimal-account-abstraction/lib/forge-std"]
	path = foundry_full_course_cu/minimal-account-abstraction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_full_course_cu/minimal-account-abstraction/lib/openzeppelin-contracts"]
	path = foundry_full_course_cu/minimal-account-abstraction/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "foundry_full_course_cu/minimal-account-abstraction/lib/account-abstraction"]
	path = foundry_full_course_cu/minimal-account-abstraction/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "foundry_full_course_cu/minimal-account-abstraction/lib/foundry-era-contracts"]
	path = foundry_full_course_cu/minimal-account-abstraction/lib/foundry-era-contracts
	url = https://github.com/cyfrin/foundry-era-contracts
[submodule "foundry_full_course_cu/minimal-account-abstraction/lib/foundry-devops"]
	path = foundry_full_course_cu/minimal-account-abstraction/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/forge-std"]
	path = code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/openzeppelin-contracts"]
	path = code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/account-abstraction"]
	path = code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/foundry-era-contracts"]
	path = code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/foundry-era-contracts
	url = https://github.com/cyfrin/foundry-era-contracts
[submodule "code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/foundry-devops"]
	path = code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/openzeppelin-contracts-upgradeable"]
	path = code_hawks_first_flights/2024-07-Mondrian-Wallet_v2/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
